.continer {
  .top {
    display: flex;
    justify-content: center;
    .top_right {
      width: 50%;
      max-width: 500px;
    }
    .top_left {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
  }
}
