.continer {
  height: calc(100vh - 300px);
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.822);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
  .box {
    position: relative;
    iframe {
      width: 90vw;
      height: calc(100vh - 300px);
      border-radius: 10px;
    }
  }
}
