.continer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  width: 100vw;
  background-color: #99daff;
  overflow-x: hidden;
  .side_menu_box {
    position: fixed;
    top: 0px;
    left: 0px;
    transition: transform 0.8s;
    z-index: 1000;
    transform: translateX(-140vw);
    display: flex;
    overflow: hidden;
    .side_menu_box_right {
      height: 100vh;
      width: 40vw;
      min-width: 300px;
      background-color: #fff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
      .side_menu_close {
        position: relative;
        margin-top: 30px;
        margin-right: 30px;
      }
    }
    .side_menu_box_left {
      height: 100vh;
      width: 60vw;
    }
  }
  .menu {
    margin: 20px;
    svg {
      font-size: 30px;
      color: white;
      cursor: pointer;
      &:hover {
        color: rgb(0, 162, 255);
      }
    }
  }
  .date_information {
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    .parasha {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 3px;
    }
    .date {
      font-size: 15px;
    }
  }
  .besad {
    font-size: 20px;
    margin-right: 20px;
    text-align: center;
  }
}
