.continer {
    background-color: rgb(205, 241, 255);
   .list_of_zmanim {
       padding: 20px;
       .list_item {
           display: flex;
           justify-content: space-between;
           border-bottom: 1px solid rgb(175, 175, 175);
           margin-top: 5px;
           .item_time {

           }
           .item_text {

           }
       }
   }
}